/* General Settings */
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.blue {
  margin: 0;
  padding: 60px;
}
/* NAV BAR */
.navbar {
  background-color: white;
  margin-bottom: 0;
}
/* SubHeader */
.blue {
  background-image: url("img/backgroundsubheader.jpg");
}
.form-group {
  padding: 0;
}
